In [270]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
%matplotlib inline
import pandas_profiling as pp
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import pyodbc
from scipy import stats

In [2]:
conn = pyodbc.connect("Driver={SQL Server};"
                        "Server=52.172.223.208;"
                        "Database=Analytics_DB;"
                        "uid=NitishKaushik;pwd=Db@098098**")

In [3]:
data = pd.read_sql_query('PAYS_VLM_OVERALL', conn)

In [307]:
df =  data.copy()

In [308]:
df

,YEAR_1,WEEK_1,APPROVED,SALARIED,SELF_EMPLOYED,SAL_35,SAL_35_55,SAL_55,SAL_NULL,AGE_30,...,FOIR_30,APP_AMT_1L,APP_AMT_1L_2L,APP_AMT_2L,TENURE_L48,TENURE_48,TENURE_G48,ROI_26.4,ROI_26.4_30,ROI_30
0,2019,29,11230,0.21,0.79,0.18,0.22,0.60,0.00,0.22,...,0.16,0.80,0.12,0.08,0.14,0.02,0.84,0.27,0.71,0.02
1,2019,30,32567,0.69,0.31,0.30,0.26,0.44,0.00,0.30,...,0.20,0.48,0.22,0.30,0.18,0.03,0.79,0.66,0.29,0.05
2,2019,31,28320,0.69,0.31,0.31,0.25,0.44,0.00,0.32,...,0.21,0.48,0.24,0.29,0.19,0.03,0.78,0.66,0.28,0.06
3,2019,32,31599,0.70,0.30,0.31,0.27,0.42,0.00,0.32,...,0.22,0.44,0.25,0.31,0.23,0.03,0.74,0.64,0.25,0.10
4,2019,33,26745,0.67,0.33,0.30,0.26,0.44,0.00,0.33,...,0.21,0.37,0.28,0.36,0.29,0.03,0.69,0.61,0.22,0.17
5,2019,34,49380,0.65,0.35,0.30,0.25,0.45,0.00,0.32,...,0.20,0.37,0.27,0.36,0.29,0.02,0.69,0.59,0.23,0.18
6,2019,35,35557,0.65,0.35,0.29,0.24,0.47,0.00,0.31,...,0.20,0.36,0.27,0.37,0.28,0.02,0.69,0.59,0.23,0.17
7,2019,36,36725,0.66,0.34,0.30,0.26,0.44,0.00,0.33,...,0.20,0.37,0.27,0.36,0.29,0.03,0.69,0.60,0.23,0.18
8,2019,37,34684,0.65,0.35,0.32,0.29,0.39,0.00,0.32,...,0.23,0.38,0.27,0.35,0.30,0.03,0.67,0.59,0.23,0.18
9,2019,38,38817,0.65,0.35,0.34,0.30,0.36,0.00,0.32,...,0.26,0.37,0.27,0.36,0.30,0.03,0.67,0.59,0.22,0.19
10,2019,39,35655,0.66,0.34,0.34,0.29,0.37,0.00,0.32,...,0.26,0.35,0.26,0.38,0.28,0.02,0.70,0.60,0.23,0.17
11,2019,40,29517,0.69,0.31,0.34,0.30,0.36,0.00,0.33,...,0.27,0.31,0.28,0.40,0.21,0.03,0.76,0.63,0.28,0.09
12,2019,41,30091,0.71,0.29,0.33,0.31,0.36,0.00,0.32,...,0.25,0.30,0.28,0.42,0.19,0.03,0.78,0.66,0.28,0.06
13,2019,42,35246,0.74,0.26,0.34,0.30,0.37,0.00,0.34,...,0.24,0.31,0.28,0.41,0.20,0.03,0.77,0.69,0.25,0.06
14,2019,43,37705,0.71,0.29,0.20,0.17,0.22,0.41,0.33,...,0.14,0.33,0.28,0.39,0.21,0.03,0.76,0.66,0.28,0.07
15,2019,44,36529,0.71,0.29,0.17,0.15,0.19,0.49,0.35,...,0.12,0.34,0.28,0.38,0.21,0.04,0.75,0.65,0.28,0.07
16,2019,45,54527,0.71,0.29,0.18,0.15,0.19,0.48,0.35,...,0.12,0.34,0.28,0.38,0.22,0.03,0.74,0.66,0.28,0.07
17,2019,46,61853,0.72,0.28,0.20,0.16,0.21,0.43,0.35,...,0.14,0.34,0.28,0.38,0.22,0.03,0.74,0.66,0.27,0.07
18,2019,47,62154,0.71,0.29,0.19,0.15,0.21,0.45,0.34,...,0.14,0.33,0.28,0.39,0.22,0.03,0.75,0.65,0.28,0.07
19,2019,48,35798,0.73,0.27,0.18,0.16,0.23,0.43,0.35,...,0.16,0.31,0.30,0.40,0.21,0.03,0.75,0.67,0.26,0.07
20,2019,49,45616,0.74,0.26,0.18,0.16,0.22,0.44,0.36,...,0.16,0.31,0.30,0.39,0.21,0.04,0.75,0.47,0.21,0.31
21,2019,50,32791,0.74,0.26,0.21,0.17,0.24,0.38,0.35,...,0.17,0.27,0.34,0.39,0.33,0.11,0.56,0.09,0.66,0.25
22,2019,51,42394,0.75,0.25,0.20,0.17,0.24,0.39,0.36,...,0.17,0.26,0.34,0.40,0.44,0.16,0.40,0.60,0.33,0.07
23,2019,52,41603,0.74,0.26,0.20,0.17,0.24,0.40,0.35,...,0.19,0.25,0.33,0.41,0.43,0.16,0.41,0.92,0.01,0.07
24,2019,53,11335,0.75,0.25,0.19,0.17,0.23,0.41,0.35,...,0.17,0.25,0.33,0.42,0.43,0.15,0.42,0.92,0.01,0.07

In [309]:
import datetime
import time


def getDateRangeFromWeek(p_year,p_week):

    firstdayofweek = datetime.datetime.strptime(f'{p_year}-W{int(p_week )- 1}-1', "%Y-W%W-%w").date()
    lastdayofweek = firstdayofweek + datetime.timedelta(days=6.9)
    return firstdayofweek, lastdayofweek


#Call function to get dates range 
#firstdate, lastdate =  getDateRangeFromWeek('2019','2')

#print('print function ',firstdate,' ', lastdate)

In [310]:
lst = []
for index, row in df.iterrows(): 
    X = getDateRangeFromWeek(row["YEAR_1"].astype(int), row["WEEK_1"].astype(int)) 
    df.loc[index,'First_date']=X[0]
    df.loc[index,'Last_date']=X[1]
    lst.append(getDateRangeFromWeek(row["YEAR_1"].astype(int), row["WEEK_1"].astype(int)))

In [311]:
df

,YEAR_1,WEEK_1,APPROVED,SALARIED,SELF_EMPLOYED,SAL_35,SAL_35_55,SAL_55,SAL_NULL,AGE_30,...,APP_AMT_1L_2L,APP_AMT_2L,TENURE_L48,TENURE_48,TENURE_G48,ROI_26.4,ROI_26.4_30,ROI_30,First_date,Last_date
0,2019,29,11230,0.21,0.79,0.18,0.22,0.60,0.00,0.22,...,0.12,0.08,0.14,0.02,0.84,0.27,0.71,0.02,2019-07-15,2019-07-21
1,2019,30,32567,0.69,0.31,0.30,0.26,0.44,0.00,0.30,...,0.22,0.30,0.18,0.03,0.79,0.66,0.29,0.05,2019-07-22,2019-07-28
2,2019,31,28320,0.69,0.31,0.31,0.25,0.44,0.00,0.32,...,0.24,0.29,0.19,0.03,0.78,0.66,0.28,0.06,2019-07-29,2019-08-04
3,2019,32,31599,0.70,0.30,0.31,0.27,0.42,0.00,0.32,...,0.25,0.31,0.23,0.03,0.74,0.64,0.25,0.10,2019-08-05,2019-08-11
4,2019,33,26745,0.67,0.33,0.30,0.26,0.44,0.00,0.33,...,0.28,0.36,0.29,0.03,0.69,0.61,0.22,0.17,2019-08-12,2019-08-18
5,2019,34,49380,0.65,0.35,0.30,0.25,0.45,0.00,0.32,...,0.27,0.36,0.29,0.02,0.69,0.59,0.23,0.18,2019-08-19,2019-08-25
6,2019,35,35557,0.65,0.35,0.29,0.24,0.47,0.00,0.31,...,0.27,0.37,0.28,0.02,0.69,0.59,0.23,0.17,2019-08-26,2019-09-01
7,2019,36,36725,0.66,0.34,0.30,0.26,0.44,0.00,0.33,...,0.27,0.36,0.29,0.03,0.69,0.60,0.23,0.18,2019-09-02,2019-09-08
8,2019,37,34684,0.65,0.35,0.32,0.29,0.39,0.00,0.32,...,0.27,0.35,0.30,0.03,0.67,0.59,0.23,0.18,2019-09-09,2019-09-15
9,2019,38,38817,0.65,0.35,0.34,0.30,0.36,0.00,0.32,...,0.27,0.36,0.30,0.03,0.67,0.59,0.22,0.19,2019-09-16,2019-09-22
10,2019,39,35655,0.66,0.34,0.34,0.29,0.37,0.00,0.32,...,0.26,0.38,0.28,0.02,0.70,0.60,0.23,0.17,2019-09-23,2019-09-29
11,2019,40,29517,0.69,0.31,0.34,0.30,0.36,0.00,0.33,...,0.28,0.40,0.21,0.03,0.76,0.63,0.28,0.09,2019-09-30,2019-10-06
12,2019,41,30091,0.71,0.29,0.33,0.31,0.36,0.00,0.32,...,0.28,0.42,0.19,0.03,0.78,0.66,0.28,0.06,2019-10-07,2019-10-13
13,2019,42,35246,0.74,0.26,0.34,0.30,0.37,0.00,0.34,...,0.28,0.41,0.20,0.03,0.77,0.69,0.25,0.06,2019-10-14,2019-10-20
14,2019,43,37705,0.71,0.29,0.20,0.17,0.22,0.41,0.33,...,0.28,0.39,0.21,0.03,0.76,0.66,0.28,0.07,2019-10-21,2019-10-27
15,2019,44,36529,0.71,0.29,0.17,0.15,0.19,0.49,0.35,...,0.28,0.38,0.21,0.04,0.75,0.65,0.28,0.07,2019-10-28,2019-11-03
16,2019,45,54527,0.71,0.29,0.18,0.15,0.19,0.48,0.35,...,0.28,0.38,0.22,0.03,0.74,0.66,0.28,0.07,2019-11-04,2019-11-10
17,2019,46,61853,0.72,0.28,0.20,0.16,0.21,0.43,0.35,...,0.28,0.38,0.22,0.03,0.74,0.66,0.27,0.07,2019-11-11,2019-11-17
18,2019,47,62154,0.71,0.29,0.19,0.15,0.21,0.45,0.34,...,0.28,0.39,0.22,0.03,0.75,0.65,0.28,0.07,2019-11-18,2019-11-24
19,2019,48,35798,0.73,0.27,0.18,0.16,0.23,0.43,0.35,...,0.30,0.40,0.21,0.03,0.75,0.67,0.26,0.07,2019-11-25,2019-12-01
20,2019,49,45616,0.74,0.26,0.18,0.16,0.22,0.44,0.36,...,0.30,0.39,0.21,0.04,0.75,0.47,0.21,0.31,2019-12-02,2019-12-08
21,2019,50,32791,0.74,0.26,0.21,0.17,0.24,0.38,0.35,...,0.34,0.39,0.33,0.11,0.56,0.09,0.66,0.25,2019-12-09,2019-12-15
22,2019,51,42394,0.75,0.25,0.20,0.17,0.24,0.39,0.36,...,0.34,0.40,0.44,0.16,0.40,0.60,0.33,0.07,2019-12-16,2019-12-22
23,2019,52,41603,0.74,0.26,0.20,0.17,0.24,0.40,0.35,...,0.33,0.41,0.43,0.16,0.41,0.92,0.01,0.07,2019-12-23,2019-12-29
24,2019,53,11335,0.75,0.25,0.19,0.17,0.23,0.41,0.35,...,0.33,0.42,0.43,0.15,0.42,0.92,0.01,0.07,2019-12-30,2020-01-05

In [312]:
df.rename(columns = {"APPROVED": "Users"}, inplace = True)

In [313]:
Emp_type = df.loc[:,['WEEK_1','First_date','Last_date','Users','SALARIED','SELF_EMPLOYED']]
Emp_type

    WEEK_1  First_date   Last_date  Users  SALARIED  SELF_EMPLOYED
0       29  2019-07-15  2019-07-21  11230      0.21           0.79
1       30  2019-07-22  2019-07-28  32567      0.69           0.31
2       31  2019-07-29  2019-08-04  28320      0.69           0.31
3       32  2019-08-05  2019-08-11  31599      0.70           0.30
4       33  2019-08-12  2019-08-18  26745      0.67           0.33
5       34  2019-08-19  2019-08-25  49380      0.65           0.35
6       35  2019-08-26  2019-09-01  35557      0.65           0.35
7       36  2019-09-02  2019-09-08  36725      0.66           0.34
8       37  2019-09-09  2019-09-15  34684      0.65           0.35
9       38  2019-09-16  2019-09-22  38817      0.65           0.35
10      39  2019-09-23  2019-09-29  35655      0.66           0.34
11      40  2019-09-30  2019-10-06  29517      0.69           0.31
12      41  2019-10-07  2019-10-13  30091      0.71           0.29
13      42  2019-10-14  2019-10-20  35246      0.74           0.26
14      43  2019-10-21  2019-10-27  37705      0.71           0.29
15      44  2019-10-28  2019-11-03  36529      0.71           0.29
16      45  2019-11-04  2019-11-10  54527      0.71           0.29
17      46  2019-11-11  2019-11-17  61853      0.72           0.28
18      47  2019-11-18  2019-11-24  62154      0.71           0.29
19      48  2019-11-25  2019-12-01  35798      0.73           0.27
20      49  2019-12-02  2019-12-08  45616      0.74           0.26
21      50  2019-12-09  2019-12-15  32791      0.74           0.26
22      51  2019-12-16  2019-12-22  42394      0.75           0.25
23      52  2019-12-23  2019-12-29  41603      0.74           0.26
24      53  2019-12-30  2020-01-05  11335      0.75           0.25

In [314]:
Emp_type['SALARIED'] = Emp_type['Users']*Emp_type['SALARIED']
Emp_type['SELF_EMPLOYED'] = Emp_type['Users']*Emp_type['SELF_EMPLOYED']
Emp_type

    WEEK_1  First_date   Last_date  Users  SALARIED  SELF_EMPLOYED
0       29  2019-07-15  2019-07-21  11230   2358.30        8871.70
1       30  2019-07-22  2019-07-28  32567  22471.23       10095.77
2       31  2019-07-29  2019-08-04  28320  19540.80        8779.20
3       32  2019-08-05  2019-08-11  31599  22119.30        9479.70
4       33  2019-08-12  2019-08-18  26745  17919.15        8825.85
5       34  2019-08-19  2019-08-25  49380  32097.00       17283.00
6       35  2019-08-26  2019-09-01  35557  23112.05       12444.95
7       36  2019-09-02  2019-09-08  36725  24238.50       12486.50
8       37  2019-09-09  2019-09-15  34684  22544.60       12139.40
9       38  2019-09-16  2019-09-22  38817  25231.05       13585.95
10      39  2019-09-23  2019-09-29  35655  23532.30       12122.70
11      40  2019-09-30  2019-10-06  29517  20366.73        9150.27
12      41  2019-10-07  2019-10-13  30091  21364.61        8726.39
13      42  2019-10-14  2019-10-20  35246  26082.04        9163.96
14      43  2019-10-21  2019-10-27  37705  26770.55       10934.45
15      44  2019-10-28  2019-11-03  36529  25935.59       10593.41
16      45  2019-11-04  2019-11-10  54527  38714.17       15812.83
17      46  2019-11-11  2019-11-17  61853  44534.16       17318.84
18      47  2019-11-18  2019-11-24  62154  44129.34       18024.66
19      48  2019-11-25  2019-12-01  35798  26132.54        9665.46
20      49  2019-12-02  2019-12-08  45616  33755.84       11860.16
21      50  2019-12-09  2019-12-15  32791  24265.34        8525.66
22      51  2019-12-16  2019-12-22  42394  31795.50       10598.50
23      52  2019-12-23  2019-12-29  41603  30786.22       10816.78
24      53  2019-12-30  2020-01-05  11335   8501.25        2833.75

In [315]:
Age = df.loc[:,['WEEK_1','First_date','Last_date','Users','AGE_30','AGE_30_40','AGE_40']]
Age

    WEEK_1  First_date   Last_date  Users  AGE_30  AGE_30_40  AGE_40
0       29  2019-07-15  2019-07-21  11230    0.22       0.39    0.39
1       30  2019-07-22  2019-07-28  32567    0.30       0.37    0.33
2       31  2019-07-29  2019-08-04  28320    0.32       0.36    0.32
3       32  2019-08-05  2019-08-11  31599    0.32       0.37    0.30
4       33  2019-08-12  2019-08-18  26745    0.33       0.39    0.29
5       34  2019-08-19  2019-08-25  49380    0.32       0.38    0.30
6       35  2019-08-26  2019-09-01  35557    0.31       0.38    0.31
7       36  2019-09-02  2019-09-08  36725    0.33       0.39    0.29
8       37  2019-09-09  2019-09-15  34684    0.32       0.40    0.28
9       38  2019-09-16  2019-09-22  38817    0.32       0.40    0.28
10      39  2019-09-23  2019-09-29  35655    0.32       0.39    0.29
11      40  2019-09-30  2019-10-06  29517    0.33       0.39    0.28
12      41  2019-10-07  2019-10-13  30091    0.32       0.40    0.28
13      42  2019-10-14  2019-10-20  35246    0.34       0.40    0.27
14      43  2019-10-21  2019-10-27  37705    0.33       0.39    0.28
15      44  2019-10-28  2019-11-03  36529    0.35       0.39    0.26
16      45  2019-11-04  2019-11-10  54527    0.35       0.39    0.26
17      46  2019-11-11  2019-11-17  61853    0.35       0.39    0.25
18      47  2019-11-18  2019-11-24  62154    0.34       0.39    0.27
19      48  2019-11-25  2019-12-01  35798    0.35       0.39    0.27
20      49  2019-12-02  2019-12-08  45616    0.36       0.39    0.25
21      50  2019-12-09  2019-12-15  32791    0.35       0.39    0.25
22      51  2019-12-16  2019-12-22  42394    0.36       0.39    0.25
23      52  2019-12-23  2019-12-29  41603    0.35       0.38    0.26
24      53  2019-12-30  2020-01-05  11335    0.35       0.38    0.26

In [316]:
Age['AGE_30'] = Age['Users']*Age['AGE_30']
Age['AGE_30_40'] = Age['Users']*Age['AGE_30_40']
Age['AGE_40'] = Age['Users']*Age['AGE_40']
Age

    WEEK_1  First_date   Last_date  Users    AGE_30  AGE_30_40    AGE_40
0       29  2019-07-15  2019-07-21  11230   2470.60    4379.70   4379.70
1       30  2019-07-22  2019-07-28  32567   9770.10   12049.79  10747.11
2       31  2019-07-29  2019-08-04  28320   9062.40   10195.20   9062.40
3       32  2019-08-05  2019-08-11  31599  10111.68   11691.63   9479.70
4       33  2019-08-12  2019-08-18  26745   8825.85   10430.55   7756.05
5       34  2019-08-19  2019-08-25  49380  15801.60   18764.40  14814.00
6       35  2019-08-26  2019-09-01  35557  11022.67   13511.66  11022.67
7       36  2019-09-02  2019-09-08  36725  12119.25   14322.75  10650.25
8       37  2019-09-09  2019-09-15  34684  11098.88   13873.60   9711.52
9       38  2019-09-16  2019-09-22  38817  12421.44   15526.80  10868.76
10      39  2019-09-23  2019-09-29  35655  11409.60   13905.45  10339.95
11      40  2019-09-30  2019-10-06  29517   9740.61   11511.63   8264.76
12      41  2019-10-07  2019-10-13  30091   9629.12   12036.40   8425.48
13      42  2019-10-14  2019-10-20  35246  11983.64   14098.40   9516.42
14      43  2019-10-21  2019-10-27  37705  12442.65   14704.95  10557.40
15      44  2019-10-28  2019-11-03  36529  12785.15   14246.31   9497.54
16      45  2019-11-04  2019-11-10  54527  19084.45   21265.53  14177.02
17      46  2019-11-11  2019-11-17  61853  21648.55   24122.67  15463.25
18      47  2019-11-18  2019-11-24  62154  21132.36   24240.06  16781.58
19      48  2019-11-25  2019-12-01  35798  12529.30   13961.22   9665.46
20      49  2019-12-02  2019-12-08  45616  16421.76   17790.24  11404.00
21      50  2019-12-09  2019-12-15  32791  11476.85   12788.49   8197.75
22      51  2019-12-16  2019-12-22  42394  15261.84   16533.66  10598.50
23      52  2019-12-23  2019-12-29  41603  14561.05   15809.14  10816.78
24      53  2019-12-30  2020-01-05  11335   3967.25    4307.30   2947.10

In [317]:
Salary = df.loc[:,['WEEK_1','First_date','Last_date','Users','SAL_35','SAL_35_55','SAL_55']]
Salary

    WEEK_1  First_date   Last_date  Users  SAL_35  SAL_35_55  SAL_55
0       29  2019-07-15  2019-07-21  11230    0.18       0.22    0.60
1       30  2019-07-22  2019-07-28  32567    0.30       0.26    0.44
2       31  2019-07-29  2019-08-04  28320    0.31       0.25    0.44
3       32  2019-08-05  2019-08-11  31599    0.31       0.27    0.42
4       33  2019-08-12  2019-08-18  26745    0.30       0.26    0.44
5       34  2019-08-19  2019-08-25  49380    0.30       0.25    0.45
6       35  2019-08-26  2019-09-01  35557    0.29       0.24    0.47
7       36  2019-09-02  2019-09-08  36725    0.30       0.26    0.44
8       37  2019-09-09  2019-09-15  34684    0.32       0.29    0.39
9       38  2019-09-16  2019-09-22  38817    0.34       0.30    0.36
10      39  2019-09-23  2019-09-29  35655    0.34       0.29    0.37
11      40  2019-09-30  2019-10-06  29517    0.34       0.30    0.36
12      41  2019-10-07  2019-10-13  30091    0.33       0.31    0.36
13      42  2019-10-14  2019-10-20  35246    0.34       0.30    0.37
14      43  2019-10-21  2019-10-27  37705    0.20       0.17    0.22
15      44  2019-10-28  2019-11-03  36529    0.17       0.15    0.19
16      45  2019-11-04  2019-11-10  54527    0.18       0.15    0.19
17      46  2019-11-11  2019-11-17  61853    0.20       0.16    0.21
18      47  2019-11-18  2019-11-24  62154    0.19       0.15    0.21
19      48  2019-11-25  2019-12-01  35798    0.18       0.16    0.23
20      49  2019-12-02  2019-12-08  45616    0.18       0.16    0.22
21      50  2019-12-09  2019-12-15  32791    0.21       0.17    0.24
22      51  2019-12-16  2019-12-22  42394    0.20       0.17    0.24
23      52  2019-12-23  2019-12-29  41603    0.20       0.17    0.24
24      53  2019-12-30  2020-01-05  11335    0.19       0.17    0.23

In [318]:
Salary['SAL_35'] = Salary['Users']*Salary['SAL_35']
Salary['SAL_35_55'] = Salary['Users']*Salary['SAL_35_55']
Salary['SAL_55'] = Salary['Users']*Salary['SAL_55']
Salary

    WEEK_1  First_date   Last_date  Users    SAL_35  SAL_35_55    SAL_55
0       29  2019-07-15  2019-07-21  11230   2021.40    2470.60   6738.00
1       30  2019-07-22  2019-07-28  32567   9770.10    8467.42  14329.48
2       31  2019-07-29  2019-08-04  28320   8779.20    7080.00  12460.80
3       32  2019-08-05  2019-08-11  31599   9795.69    8531.73  13271.58
4       33  2019-08-12  2019-08-18  26745   8023.50    6953.70  11767.80
5       34  2019-08-19  2019-08-25  49380  14814.00   12345.00  22221.00
6       35  2019-08-26  2019-09-01  35557  10311.53    8533.68  16711.79
7       36  2019-09-02  2019-09-08  36725  11017.50    9548.50  16159.00
8       37  2019-09-09  2019-09-15  34684  11098.88   10058.36  13526.76
9       38  2019-09-16  2019-09-22  38817  13197.78   11645.10  13974.12
10      39  2019-09-23  2019-09-29  35655  12122.70   10339.95  13192.35
11      40  2019-09-30  2019-10-06  29517  10035.78    8855.10  10626.12
12      41  2019-10-07  2019-10-13  30091   9930.03    9328.21  10832.76
13      42  2019-10-14  2019-10-20  35246  11983.64   10573.80  13041.02
14      43  2019-10-21  2019-10-27  37705   7541.00    6409.85   8295.10
15      44  2019-10-28  2019-11-03  36529   6209.93    5479.35   6940.51
16      45  2019-11-04  2019-11-10  54527   9814.86    8179.05  10360.13
17      46  2019-11-11  2019-11-17  61853  12370.60    9896.48  12989.13
18      47  2019-11-18  2019-11-24  62154  11809.26    9323.10  13052.34
19      48  2019-11-25  2019-12-01  35798   6443.64    5727.68   8233.54
20      49  2019-12-02  2019-12-08  45616   8210.88    7298.56  10035.52
21      50  2019-12-09  2019-12-15  32791   6886.11    5574.47   7869.84
22      51  2019-12-16  2019-12-22  42394   8478.80    7206.98  10174.56
23      52  2019-12-23  2019-12-29  41603   8320.60    7072.51   9984.72
24      53  2019-12-30  2020-01-05  11335   2153.65    1926.95   2607.05

In [319]:
Ratings = df.loc[:,['WEEK_1','First_date','Last_date','Users','IL_R_10','IL_R_10_20','IL_R_20','IL_R_CM','IL_R_OTHERS']]
Ratings

,WEEK_1,First_date,Last_date,Users,IL_R_10,IL_R_10_20,IL_R_20,IL_R_CM,IL_R_OTHERS
0,29,2019-07-15,2019-07-21,11230,0.03,0.01,0.03,0.29,0.64
1,30,2019-07-22,2019-07-28,32567,0.06,0.03,0.08,0.21,0.62
2,31,2019-07-29,2019-08-04,28320,0.07,0.03,0.09,0.23,0.57
3,32,2019-08-05,2019-08-11,31599,0.06,0.03,0.08,0.20,0.63
4,33,2019-08-12,2019-08-18,26745,0.06,0.03,0.08,0.24,0.59
5,34,2019-08-19,2019-08-25,49380,0.06,0.03,0.08,0.27,0.57
6,35,2019-08-26,2019-09-01,35557,0.06,0.03,0.08,0.32,0.52
7,36,2019-09-02,2019-09-08,36725,0.06,0.03,0.08,0.27,0.56
8,37,2019-09-09,2019-09-15,34684,0.06,0.03,0.07,0.31,0.53
9,38,2019-09-16,2019-09-22,38817,0.06,0.03,0.07,0.34,0.50
10,39,2019-09-23,2019-09-29,35655,0.05,0.03,0.07,0.37,0.48
11,40,2019-09-30,2019-10-06,29517,0.05,0.03,0.08,0.35,0.49
12,41,2019-10-07,2019-10-13,30091,0.05,0.02,0.08,0.37,0.48
13,42,2019-10-14,2019-10-20,35246,0.05,0.03,0.08,0.39,0.45
14,43,2019-10-21,2019-10-27,37705,0.05,0.03,0.07,0.37,0.48
15,44,2019-10-28,2019-11-03,36529,0.06,0.03,0.08,0.36,0.48
16,45,2019-11-04,2019-11-10,54527,0.06,0.03,0.08,0.35,0.49
17,46,2019-11-11,2019-11-17,61853,0.06,0.03,0.08,0.38,0.46
18,47,2019-11-18,2019-11-24,62154,0.05,0.03,0.07,0.38,0.47
19,48,2019-11-25,2019-12-01,35798,0.05,0.03,0.08,0.40,0.44
20,49,2019-12-02,2019-12-08,45616,0.05,0.03,0.08,0.38,0.46
21,50,2019-12-09,2019-12-15,32791,0.05,0.03,0.08,0.42,0.43
22,51,2019-12-16,2019-12-22,42394,0.05,0.03,0.08,0.41,0.43
23,52,2019-12-23,2019-12-29,41603,0.05,0.03,0.08,0.40,0.44
24,53,2019-12-30,2020-01-05,11335,0.05,0.03,0.08,0.42,0.42

In [320]:
Ratings['IL_R_10'] = Ratings['Users']*Ratings['IL_R_10']
Ratings['IL_R_10_20'] = Ratings['Users']*Ratings['IL_R_10_20']
Ratings['IL_R_20'] = Ratings['Users']*Ratings['IL_R_20']
Ratings['IL_R_CM'] = Ratings['Users']*Ratings['IL_R_CM']
Ratings['IL_R_OTHERS'] = Ratings['Users']*Ratings['IL_R_OTHERS']
Ratings

,WEEK_1,First_date,Last_date,Users,IL_R_10,IL_R_10_20,IL_R_20,IL_R_CM,IL_R_OTHERS
0,29,2019-07-15,2019-07-21,11230,336.90,112.30,336.90,3256.70,7187.20
1,30,2019-07-22,2019-07-28,32567,1954.02,977.01,2605.36,6839.07,20191.54
2,31,2019-07-29,2019-08-04,28320,1982.40,849.60,2548.80,6513.60,16142.40
3,32,2019-08-05,2019-08-11,31599,1895.94,947.97,2527.92,6319.80,19907.37
4,33,2019-08-12,2019-08-18,26745,1604.70,802.35,2139.60,6418.80,15779.55
5,34,2019-08-19,2019-08-25,49380,2962.80,1481.40,3950.40,13332.60,28146.60
6,35,2019-08-26,2019-09-01,35557,2133.42,1066.71,2844.56,11378.24,18489.64
7,36,2019-09-02,2019-09-08,36725,2203.50,1101.75,2938.00,9915.75,20566.00
8,37,2019-09-09,2019-09-15,34684,2081.04,1040.52,2427.88,10752.04,18382.52
9,38,2019-09-16,2019-09-22,38817,2329.02,1164.51,2717.19,13197.78,19408.50
10,39,2019-09-23,2019-09-29,35655,1782.75,1069.65,2495.85,13192.35,17114.40
11,40,2019-09-30,2019-10-06,29517,1475.85,885.51,2361.36,10330.95,14463.33
12,41,2019-10-07,2019-10-13,30091,1504.55,601.82,2407.28,11133.67,14443.68
13,42,2019-10-14,2019-10-20,35246,1762.30,1057.38,2819.68,13745.94,15860.70
14,43,2019-10-21,2019-10-27,37705,1885.25,1131.15,2639.35,13950.85,18098.40
15,44,2019-10-28,2019-11-03,36529,2191.74,1095.87,2922.32,13150.44,17533.92
16,45,2019-11-04,2019-11-10,54527,3271.62,1635.81,4362.16,19084.45,26718.23
17,46,2019-11-11,2019-11-17,61853,3711.18,1855.59,4948.24,23504.14,28452.38
18,47,2019-11-18,2019-11-24,62154,3107.70,1864.62,4350.78,23618.52,29212.38
19,48,2019-11-25,2019-12-01,35798,1789.90,1073.94,2863.84,14319.20,15751.12
20,49,2019-12-02,2019-12-08,45616,2280.80,1368.48,3649.28,17334.08,20983.36
21,50,2019-12-09,2019-12-15,32791,1639.55,983.73,2623.28,13772.22,14100.13
22,51,2019-12-16,2019-12-22,42394,2119.70,1271.82,3391.52,17381.54,18229.42
23,52,2019-12-23,2019-12-29,41603,2080.15,1248.09,3328.24,16641.20,18305.32
24,53,2019-12-30,2020-01-05,11335,566.75,340.05,906.80,4760.70,4760.70

In [321]:
ROI = df.loc[:,['WEEK_1','First_date','Last_date','Users','ROI_26.4','ROI_26.4_30','ROI_30']]
ROI

    WEEK_1  First_date   Last_date  Users  ROI_26.4  ROI_26.4_30  ROI_30
0       29  2019-07-15  2019-07-21  11230      0.27         0.71    0.02
1       30  2019-07-22  2019-07-28  32567      0.66         0.29    0.05
2       31  2019-07-29  2019-08-04  28320      0.66         0.28    0.06
3       32  2019-08-05  2019-08-11  31599      0.64         0.25    0.10
4       33  2019-08-12  2019-08-18  26745      0.61         0.22    0.17
5       34  2019-08-19  2019-08-25  49380      0.59         0.23    0.18
6       35  2019-08-26  2019-09-01  35557      0.59         0.23    0.17
7       36  2019-09-02  2019-09-08  36725      0.60         0.23    0.18
8       37  2019-09-09  2019-09-15  34684      0.59         0.23    0.18
9       38  2019-09-16  2019-09-22  38817      0.59         0.22    0.19
10      39  2019-09-23  2019-09-29  35655      0.60         0.23    0.17
11      40  2019-09-30  2019-10-06  29517      0.63         0.28    0.09
12      41  2019-10-07  2019-10-13  30091      0.66         0.28    0.06
13      42  2019-10-14  2019-10-20  35246      0.69         0.25    0.06
14      43  2019-10-21  2019-10-27  37705      0.66         0.28    0.07
15      44  2019-10-28  2019-11-03  36529      0.65         0.28    0.07
16      45  2019-11-04  2019-11-10  54527      0.66         0.28    0.07
17      46  2019-11-11  2019-11-17  61853      0.66         0.27    0.07
18      47  2019-11-18  2019-11-24  62154      0.65         0.28    0.07
19      48  2019-11-25  2019-12-01  35798      0.67         0.26    0.07
20      49  2019-12-02  2019-12-08  45616      0.47         0.21    0.31
21      50  2019-12-09  2019-12-15  32791      0.09         0.66    0.25
22      51  2019-12-16  2019-12-22  42394      0.60         0.33    0.07
23      52  2019-12-23  2019-12-29  41603      0.92         0.01    0.07
24      53  2019-12-30  2020-01-05  11335      0.92         0.01    0.07

In [322]:
ROI['ROI_26.4'] = ROI['Users']*ROI['ROI_26.4']
ROI['ROI_26.4_30'] = ROI['Users']*ROI['ROI_26.4_30']
ROI['ROI_30'] = ROI['Users']*ROI['ROI_30']
ROI

    WEEK_1  First_date   Last_date  Users  ROI_26.4  ROI_26.4_30    ROI_30
0       29  2019-07-15  2019-07-21  11230   3032.10      7973.30    224.60
1       30  2019-07-22  2019-07-28  32567  21494.22      9444.43   1628.35
2       31  2019-07-29  2019-08-04  28320  18691.20      7929.60   1699.20
3       32  2019-08-05  2019-08-11  31599  20223.36      7899.75   3159.90
4       33  2019-08-12  2019-08-18  26745  16314.45      5883.90   4546.65
5       34  2019-08-19  2019-08-25  49380  29134.20     11357.40   8888.40
6       35  2019-08-26  2019-09-01  35557  20978.63      8178.11   6044.69
7       36  2019-09-02  2019-09-08  36725  22035.00      8446.75   6610.50
8       37  2019-09-09  2019-09-15  34684  20463.56      7977.32   6243.12
9       38  2019-09-16  2019-09-22  38817  22902.03      8539.74   7375.23
10      39  2019-09-23  2019-09-29  35655  21393.00      8200.65   6061.35
11      40  2019-09-30  2019-10-06  29517  18595.71      8264.76   2656.53
12      41  2019-10-07  2019-10-13  30091  19860.06      8425.48   1805.46
13      42  2019-10-14  2019-10-20  35246  24319.74      8811.50   2114.76
14      43  2019-10-21  2019-10-27  37705  24885.30     10557.40   2639.35
15      44  2019-10-28  2019-11-03  36529  23743.85     10228.12   2557.03
16      45  2019-11-04  2019-11-10  54527  35987.82     15267.56   3816.89
17      46  2019-11-11  2019-11-17  61853  40822.98     16700.31   4329.71
18      47  2019-11-18  2019-11-24  62154  40400.10     17403.12   4350.78
19      48  2019-11-25  2019-12-01  35798  23984.66      9307.48   2505.86
20      49  2019-12-02  2019-12-08  45616  21439.52      9579.36  14140.96
21      50  2019-12-09  2019-12-15  32791   2951.19     21642.06   8197.75
22      51  2019-12-16  2019-12-22  42394  25436.40     13990.02   2967.58
23      52  2019-12-23  2019-12-29  41603  38274.76       416.03   2912.21
24      53  2019-12-30  2020-01-05  11335  10428.20       113.35    793.45

In [323]:
App = df.loc[:,['WEEK_1','First_date','Last_date','Users','APP_AMT_1L','APP_AMT_1L_2L','APP_AMT_2L']]
App

,WEEK_1,First_date,Last_date,Users,APP_AMT_1L,APP_AMT_1L_2L,APP_AMT_2L
0,29,2019-07-15,2019-07-21,11230,0.80,0.12,0.08
1,30,2019-07-22,2019-07-28,32567,0.48,0.22,0.30
2,31,2019-07-29,2019-08-04,28320,0.48,0.24,0.29
3,32,2019-08-05,2019-08-11,31599,0.44,0.25,0.31
4,33,2019-08-12,2019-08-18,26745,0.37,0.28,0.36
5,34,2019-08-19,2019-08-25,49380,0.37,0.27,0.36
6,35,2019-08-26,2019-09-01,35557,0.36,0.27,0.37
7,36,2019-09-02,2019-09-08,36725,0.37,0.27,0.36
8,37,2019-09-09,2019-09-15,34684,0.38,0.27,0.35
9,38,2019-09-16,2019-09-22,38817,0.37,0.27,0.36
10,39,2019-09-23,2019-09-29,35655,0.35,0.26,0.38
11,40,2019-09-30,2019-10-06,29517,0.31,0.28,0.40
12,41,2019-10-07,2019-10-13,30091,0.30,0.28,0.42
13,42,2019-10-14,2019-10-20,35246,0.31,0.28,0.41
14,43,2019-10-21,2019-10-27,37705,0.33,0.28,0.39
15,44,2019-10-28,2019-11-03,36529,0.34,0.28,0.38
16,45,2019-11-04,2019-11-10,54527,0.34,0.28,0.38
17,46,2019-11-11,2019-11-17,61853,0.34,0.28,0.38
18,47,2019-11-18,2019-11-24,62154,0.33,0.28,0.39
19,48,2019-11-25,2019-12-01,35798,0.31,0.30,0.40
20,49,2019-12-02,2019-12-08,45616,0.31,0.30,0.39
21,50,2019-12-09,2019-12-15,32791,0.27,0.34,0.39
22,51,2019-12-16,2019-12-22,42394,0.26,0.34,0.40
23,52,2019-12-23,2019-12-29,41603,0.25,0.33,0.41
24,53,2019-12-30,2020-01-05,11335,0.25,0.33,0.42

In [324]:
App['APP_AMT_1L'] = App['Users']*App['APP_AMT_1L']
App['APP_AMT_1L_2L'] = App['Users']*App['APP_AMT_1L_2L']
App['APP_AMT_2L'] = App['Users']*App['APP_AMT_2L']
App

,WEEK_1,First_date,Last_date,Users,APP_AMT_1L,APP_AMT_1L_2L,APP_AMT_2L
0,29,2019-07-15,2019-07-21,11230,8984.00,1347.60,898.40
1,30,2019-07-22,2019-07-28,32567,15632.16,7164.74,9770.10
2,31,2019-07-29,2019-08-04,28320,13593.60,6796.80,8212.80
3,32,2019-08-05,2019-08-11,31599,13903.56,7899.75,9795.69
4,33,2019-08-12,2019-08-18,26745,9895.65,7488.60,9628.20
5,34,2019-08-19,2019-08-25,49380,18270.60,13332.60,17776.80
6,35,2019-08-26,2019-09-01,35557,12800.52,9600.39,13156.09
7,36,2019-09-02,2019-09-08,36725,13588.25,9915.75,13221.00
8,37,2019-09-09,2019-09-15,34684,13179.92,9364.68,12139.40
9,38,2019-09-16,2019-09-22,38817,14362.29,10480.59,13974.12
10,39,2019-09-23,2019-09-29,35655,12479.25,9270.30,13548.90
11,40,2019-09-30,2019-10-06,29517,9150.27,8264.76,11806.80
12,41,2019-10-07,2019-10-13,30091,9027.30,8425.48,12638.22
13,42,2019-10-14,2019-10-20,35246,10926.26,9868.88,14450.86
14,43,2019-10-21,2019-10-27,37705,12442.65,10557.40,14704.95
15,44,2019-10-28,2019-11-03,36529,12419.86,10228.12,13881.02
16,45,2019-11-04,2019-11-10,54527,18539.18,15267.56,20720.26
17,46,2019-11-11,2019-11-17,61853,21030.02,17318.84,23504.14
18,47,2019-11-18,2019-11-24,62154,20510.82,17403.12,24240.06
19,48,2019-11-25,2019-12-01,35798,11097.38,10739.40,14319.20
20,49,2019-12-02,2019-12-08,45616,14140.96,13684.80,17790.24
21,50,2019-12-09,2019-12-15,32791,8853.57,11148.94,12788.49
22,51,2019-12-16,2019-12-22,42394,11022.44,14413.96,16957.60
23,52,2019-12-23,2019-12-29,41603,10400.75,13728.99,17057.23
24,53,2019-12-30,2020-01-05,11335,2833.75,3740.55,4760.70

In [325]:
Tenure = df.loc[:,['WEEK_1','First_date','Last_date','Users','TENURE_L48','TENURE_48','TENURE_G48']]
Tenure

    WEEK_1  First_date   Last_date  Users  TENURE_L48  TENURE_48  TENURE_G48
0       29  2019-07-15  2019-07-21  11230        0.14       0.02        0.84
1       30  2019-07-22  2019-07-28  32567        0.18       0.03        0.79
2       31  2019-07-29  2019-08-04  28320        0.19       0.03        0.78
3       32  2019-08-05  2019-08-11  31599        0.23       0.03        0.74
4       33  2019-08-12  2019-08-18  26745        0.29       0.03        0.69
5       34  2019-08-19  2019-08-25  49380        0.29       0.02        0.69
6       35  2019-08-26  2019-09-01  35557        0.28       0.02        0.69
7       36  2019-09-02  2019-09-08  36725        0.29       0.03        0.69
8       37  2019-09-09  2019-09-15  34684        0.30       0.03        0.67
9       38  2019-09-16  2019-09-22  38817        0.30       0.03        0.67
10      39  2019-09-23  2019-09-29  35655        0.28       0.02        0.70
11      40  2019-09-30  2019-10-06  29517        0.21       0.03        0.76
12      41  2019-10-07  2019-10-13  30091        0.19       0.03        0.78
13      42  2019-10-14  2019-10-20  35246        0.20       0.03        0.77
14      43  2019-10-21  2019-10-27  37705        0.21       0.03        0.76
15      44  2019-10-28  2019-11-03  36529        0.21       0.04        0.75
16      45  2019-11-04  2019-11-10  54527        0.22       0.03        0.74
17      46  2019-11-11  2019-11-17  61853        0.22       0.03        0.74
18      47  2019-11-18  2019-11-24  62154        0.22       0.03        0.75
19      48  2019-11-25  2019-12-01  35798        0.21       0.03        0.75
20      49  2019-12-02  2019-12-08  45616        0.21       0.04        0.75
21      50  2019-12-09  2019-12-15  32791        0.33       0.11        0.56
22      51  2019-12-16  2019-12-22  42394        0.44       0.16        0.40
23      52  2019-12-23  2019-12-29  41603        0.43       0.16        0.41
24      53  2019-12-30  2020-01-05  11335        0.43       0.15        0.42

In [326]:
Tenure['TENURE_L48'] = Tenure['Users']*Tenure['TENURE_L48']
Tenure['TENURE_48'] = Tenure['Users']*Tenure['TENURE_48']
Tenure['TENURE_G48'] = Tenure['Users']*Tenure['TENURE_G48']
Tenure

    WEEK_1  First_date   Last_date  Users  TENURE_L48  TENURE_48  TENURE_G48
0       29  2019-07-15  2019-07-21  11230     1572.20     224.60     9433.20
1       30  2019-07-22  2019-07-28  32567     5862.06     977.01    25727.93
2       31  2019-07-29  2019-08-04  28320     5380.80     849.60    22089.60
3       32  2019-08-05  2019-08-11  31599     7267.77     947.97    23383.26
4       33  2019-08-12  2019-08-18  26745     7756.05     802.35    18454.05
5       34  2019-08-19  2019-08-25  49380    14320.20     987.60    34072.20
6       35  2019-08-26  2019-09-01  35557     9955.96     711.14    24534.33
7       36  2019-09-02  2019-09-08  36725    10650.25    1101.75    25340.25
8       37  2019-09-09  2019-09-15  34684    10405.20    1040.52    23238.28
9       38  2019-09-16  2019-09-22  38817    11645.10    1164.51    26007.39
10      39  2019-09-23  2019-09-29  35655     9983.40     713.10    24958.50
11      40  2019-09-30  2019-10-06  29517     6198.57     885.51    22432.92
12      41  2019-10-07  2019-10-13  30091     5717.29     902.73    23470.98
13      42  2019-10-14  2019-10-20  35246     7049.20    1057.38    27139.42
14      43  2019-10-21  2019-10-27  37705     7918.05    1131.15    28655.80
15      44  2019-10-28  2019-11-03  36529     7671.09    1461.16    27396.75
16      45  2019-11-04  2019-11-10  54527    11995.94    1635.81    40349.98
17      46  2019-11-11  2019-11-17  61853    13607.66    1855.59    45771.22
18      47  2019-11-18  2019-11-24  62154    13673.88    1864.62    46615.50
19      48  2019-11-25  2019-12-01  35798     7517.58    1073.94    26848.50
20      49  2019-12-02  2019-12-08  45616     9579.36    1824.64    34212.00
21      50  2019-12-09  2019-12-15  32791    10821.03    3607.01    18362.96
22      51  2019-12-16  2019-12-22  42394    18653.36    6783.04    16957.60
23      52  2019-12-23  2019-12-29  41603    17889.29    6656.48    17057.23
24      53  2019-12-30  2020-01-05  11335     4874.05    1700.25     4760.70

In [327]:
Foir = df.loc[:,['WEEK_1','First_date','Last_date','Users','FOIR_10','FOIR_10_30','FOIR_30']]
Foir

    WEEK_1  First_date   Last_date  Users  FOIR_10  FOIR_10_30  FOIR_30
0       29  2019-07-15  2019-07-21  11230     0.52        0.31     0.16
1       30  2019-07-22  2019-07-28  32567     0.45        0.35     0.20
2       31  2019-07-29  2019-08-04  28320     0.44        0.35     0.21
3       32  2019-08-05  2019-08-11  31599     0.43        0.35     0.22
4       33  2019-08-12  2019-08-18  26745     0.45        0.34     0.21
5       34  2019-08-19  2019-08-25  49380     0.46        0.34     0.20
6       35  2019-08-26  2019-09-01  35557     0.47        0.33     0.20
7       36  2019-09-02  2019-09-08  36725     0.45        0.35     0.20
8       37  2019-09-09  2019-09-15  34684     0.41        0.36     0.23
9       38  2019-09-16  2019-09-22  38817     0.39        0.36     0.26
10      39  2019-09-23  2019-09-29  35655     0.42        0.33     0.26
11      40  2019-09-30  2019-10-06  29517     0.38        0.35     0.27
12      41  2019-10-07  2019-10-13  30091     0.38        0.37     0.25
13      42  2019-10-14  2019-10-20  35246     0.39        0.37     0.24
14      43  2019-10-21  2019-10-27  37705     0.65        0.22     0.14
15      44  2019-10-28  2019-11-03  36529     0.69        0.19     0.12
16      45  2019-11-04  2019-11-10  54527     0.68        0.19     0.12
17      46  2019-11-11  2019-11-17  61853     0.65        0.22     0.14
18      47  2019-11-18  2019-11-24  62154     0.66        0.21     0.14
19      48  2019-11-25  2019-12-01  35798     0.62        0.21     0.16
20      49  2019-12-02  2019-12-08  45616     0.63        0.21     0.16
21      50  2019-12-09  2019-12-15  32791     0.58        0.24     0.17
22      51  2019-12-16  2019-12-22  42394     0.60        0.23     0.17
23      52  2019-12-23  2019-12-29  41603     0.59        0.23     0.19
24      53  2019-12-30  2020-01-05  11335     0.62        0.22     0.17

In [328]:
Foir['FOIR_10'] = Foir['Users']*Foir['FOIR_10']
Foir['FOIR_10_30'] = Foir['Users']*Foir['FOIR_10_30']
Foir['FOIR_30'] = Foir['Users']*Foir['FOIR_30']
Foir

    WEEK_1  First_date   Last_date  Users   FOIR_10  FOIR_10_30   FOIR_30
0       29  2019-07-15  2019-07-21  11230   5839.60     3481.30   1796.80
1       30  2019-07-22  2019-07-28  32567  14655.15    11398.45   6513.40
2       31  2019-07-29  2019-08-04  28320  12460.80     9912.00   5947.20
3       32  2019-08-05  2019-08-11  31599  13587.57    11059.65   6951.78
4       33  2019-08-12  2019-08-18  26745  12035.25     9093.30   5616.45
5       34  2019-08-19  2019-08-25  49380  22714.80    16789.20   9876.00
6       35  2019-08-26  2019-09-01  35557  16711.79    11733.81   7111.40
7       36  2019-09-02  2019-09-08  36725  16526.25    12853.75   7345.00
8       37  2019-09-09  2019-09-15  34684  14220.44    12486.24   7977.32
9       38  2019-09-16  2019-09-22  38817  15138.63    13974.12  10092.42
10      39  2019-09-23  2019-09-29  35655  14975.10    11766.15   9270.30
11      40  2019-09-30  2019-10-06  29517  11216.46    10330.95   7969.59
12      41  2019-10-07  2019-10-13  30091  11434.58    11133.67   7522.75
13      42  2019-10-14  2019-10-20  35246  13745.94    13041.02   8459.04
14      43  2019-10-21  2019-10-27  37705  24508.25     8295.10   5278.70
15      44  2019-10-28  2019-11-03  36529  25205.01     6940.51   4383.48
16      45  2019-11-04  2019-11-10  54527  37078.36    10360.13   6543.24
17      46  2019-11-11  2019-11-17  61853  40204.45    13607.66   8659.42
18      47  2019-11-18  2019-11-24  62154  41021.64    13052.34   8701.56
19      48  2019-11-25  2019-12-01  35798  22194.76     7517.58   5727.68
20      49  2019-12-02  2019-12-08  45616  28738.08     9579.36   7298.56
21      50  2019-12-09  2019-12-15  32791  19018.78     7869.84   5574.47
22      51  2019-12-16  2019-12-22  42394  25436.40     9750.62   7206.98
23      52  2019-12-23  2019-12-29  41603  24545.77     9568.69   7904.57
24      53  2019-12-30  2020-01-05  11335   7027.70     2493.70   1926.95

In [335]:
Exp = df.loc[:,['WEEK_1','First_date','Last_date','Users','EXP_SCORE_775','EXP_SCORE_775_825','EXP_SCORE_825']]
Exp

,WEEK_1,First_date,Last_date,Users,EXP_SCORE_775,EXP_SCORE_775_825,EXP_SCORE_825
0,29,2019-07-15,2019-07-21,11230,0.33,0.35,0.32
1,30,2019-07-22,2019-07-28,32567,0.27,0.33,0.40
2,31,2019-07-29,2019-08-04,28320,0.25,0.32,0.43
3,32,2019-08-05,2019-08-11,31599,0.23,0.33,0.44
4,33,2019-08-12,2019-08-18,26745,0.25,0.33,0.41
5,34,2019-08-19,2019-08-25,49380,0.26,0.34,0.40
6,35,2019-08-26,2019-09-01,35557,0.27,0.34,0.39
7,36,2019-09-02,2019-09-08,36725,0.20,0.30,0.50
8,37,2019-09-09,2019-09-15,34684,0.22,0.32,0.47
9,38,2019-09-16,2019-09-22,38817,0.24,0.33,0.43
10,39,2019-09-23,2019-09-29,35655,0.24,0.34,0.42
11,40,2019-09-30,2019-10-06,29517,0.20,0.31,0.49
12,41,2019-10-07,2019-10-13,30091,0.18,0.29,0.53
13,42,2019-10-14,2019-10-20,35246,0.20,0.30,0.50
14,43,2019-10-21,2019-10-27,37705,0.22,0.32,0.46
15,44,2019-10-28,2019-11-03,36529,0.22,0.32,0.46
16,45,2019-11-04,2019-11-10,54527,0.19,0.30,0.51
17,46,2019-11-11,2019-11-17,61853,0.20,0.30,0.50
18,47,2019-11-18,2019-11-24,62154,0.20,0.31,0.49
19,48,2019-11-25,2019-12-01,35798,0.19,0.33,0.48
20,49,2019-12-02,2019-12-08,45616,0.14,0.30,0.56
21,50,2019-12-09,2019-12-15,32791,0.15,0.31,0.54
22,51,2019-12-16,2019-12-22,42394,0.16,0.32,0.52
23,52,2019-12-23,2019-12-29,41603,0.18,0.35,0.47
24,53,2019-12-30,2020-01-05,11335,0.16,0.33,0.51

In [336]:
Exp['EXP_SCORE_775'] = Exp['Users']*Exp['EXP_SCORE_775']
Exp['EXP_SCORE_775_825'] = Exp['Users']*Exp['EXP_SCORE_775_825']
Exp['EXP_SCORE_825'] = Exp['Users']*Exp['EXP_SCORE_825']
Exp

,WEEK_1,First_date,Last_date,Users,EXP_SCORE_775,EXP_SCORE_775_825,EXP_SCORE_825
0,29,2019-07-15,2019-07-21,11230,3705.90,3930.50,3593.60
1,30,2019-07-22,2019-07-28,32567,8793.09,10747.11,13026.80
2,31,2019-07-29,2019-08-04,28320,7080.00,9062.40,12177.60
3,32,2019-08-05,2019-08-11,31599,7267.77,10427.67,13903.56
4,33,2019-08-12,2019-08-18,26745,6686.25,8825.85,10965.45
5,34,2019-08-19,2019-08-25,49380,12838.80,16789.20,19752.00
6,35,2019-08-26,2019-09-01,35557,9600.39,12089.38,13867.23
7,36,2019-09-02,2019-09-08,36725,7345.00,11017.50,18362.50
8,37,2019-09-09,2019-09-15,34684,7630.48,11098.88,16301.48
9,38,2019-09-16,2019-09-22,38817,9316.08,12809.61,16691.31
10,39,2019-09-23,2019-09-29,35655,8557.20,12122.70,14975.10
11,40,2019-09-30,2019-10-06,29517,5903.40,9150.27,14463.33
12,41,2019-10-07,2019-10-13,30091,5416.38,8726.39,15948.23
13,42,2019-10-14,2019-10-20,35246,7049.20,10573.80,17623.00
14,43,2019-10-21,2019-10-27,37705,8295.10,12065.60,17344.30
15,44,2019-10-28,2019-11-03,36529,8036.38,11689.28,16803.34
16,45,2019-11-04,2019-11-10,54527,10360.13,16358.10,27808.77
17,46,2019-11-11,2019-11-17,61853,12370.60,18555.90,30926.50
18,47,2019-11-18,2019-11-24,62154,12430.80,19267.74,30455.46
19,48,2019-11-25,2019-12-01,35798,6801.62,11813.34,17183.04
20,49,2019-12-02,2019-12-08,45616,6386.24,13684.80,25544.96
21,50,2019-12-09,2019-12-15,32791,4918.65,10165.21,17707.14
22,51,2019-12-16,2019-12-22,42394,6783.04,13566.08,22044.88
23,52,2019-12-23,2019-12-29,41603,7488.54,14561.05,19553.41
24,53,2019-12-30,2020-01-05,11335,1813.60,3740.55,5780.85

In [347]:
def column_sum(dft): 
    for i in range(len(dft)-4):
        total = dft.iloc[i:i+4,4:7].sum().to_list()
        new = dft.iloc[i+4,4:7].to_list()
        test = np.array([total,new])
        chi2_stat, p_val, dof, ex = stats.chi2_contingency(test)
        dft.loc[i+4 ,'P_val'] = p_val
    return dft

In [348]:
column_sum(Exp)

,WEEK_1,First_date,Last_date,Users,EXP_SCORE_775,EXP_SCORE_775_825,EXP_SCORE_825,P_val
0,29,2019-07-15,2019-07-21,11230,3705.90,3930.50,3593.60,NaN
1,30,2019-07-22,2019-07-28,32567,8793.09,10747.11,13026.80,NaN
2,31,2019-07-29,2019-08-04,28320,7080.00,9062.40,12177.60,NaN
3,32,2019-08-05,2019-08-11,31599,7267.77,10427.67,13903.56,NaN
4,33,2019-08-12,2019-08-18,26745,6686.25,8825.85,10965.45,1.029856e-01
5,34,2019-08-19,2019-08-25,49380,12838.80,16789.20,19752.00,2.206141e-14
6,35,2019-08-26,2019-09-01,35557,9600.39,12089.38,13867.23,6.672088e-24
7,36,2019-09-02,2019-09-08,36725,7345.00,11017.50,18362.50,7.621858e-227
8,37,2019-09-09,2019-09-15,34684,7630.48,11098.88,16301.48,2.857259e-47
9,38,2019-09-16,2019-09-22,38817,9316.08,12809.61,16691.31,1.022126e-01
10,39,2019-09-23,2019-09-29,35655,8557.20,12122.70,14975.10,1.261895e-18
11,40,2019-09-30,2019-10-06,29517,5903.40,9150.27,14463.33,4.474972e-33
12,41,2019-10-07,2019-10-13,30091,5416.38,8726.39,15948.23,2.870502e-149
13,42,2019-10-14,2019-10-20,35246,7049.20,10573.80,17623.00,2.095069e-34
14,43,2019-10-21,2019-10-27,37705,8295.10,12065.60,17344.30,5.251783e-15
15,44,2019-10-28,2019-11-03,36529,8036.38,11689.28,16803.34,9.421089e-30
16,45,2019-11-04,2019-11-10,54527,10360.13,16358.10,27808.77,1.273561e-24
17,46,2019-11-11,2019-11-17,61853,12370.60,18555.90,30926.50,2.957367e-09
18,47,2019-11-18,2019-11-24,62154,12430.80,19267.74,30455.46,2.958967e-02
19,48,2019-11-25,2019-12-01,35798,6801.62,11813.34,17183.04,5.164781e-19
20,49,2019-12-02,2019-12-08,45616,6386.24,13684.80,25544.96,2.433720e-204
21,50,2019-12-09,2019-12-15,32791,4918.65,10165.21,17707.14,1.298174e-55
22,51,2019-12-16,2019-12-22,42394,6783.04,13566.08,22044.88,2.763841e-10
23,52,2019-12-23,2019-12-29,41603,7488.54,14561.05,19553.41,7.743001e-93
24,53,2019-12-30,2020-01-05,11335,1813.60,3740.55,5780.85,3.251054e-02

In [333]:
column_sum(Exp)

array([[25576.47, 51977.14, 84850.39],
       [ 1813.6 ,  3740.55,  5780.85]])

In [302]:
chi2_stat, p_val, dof, ex = stats.chi2_contingency(test)

TypeError: '<' not supported between instances of 'list' and 'int'

In [62]:
print("===P-Value===")
print(p_val)
print("\n")

===P-Value===
0.10298555726576027

from itertools import combinations
from scipy.stats import ttest_ind
for list1, list2 in combinations(data.keys(), 2):
    t, p = ttest_ind(data[list1], data[list2])
    print (list1, list2, p)